<img alt=" " src="https://tindoanhnghiep.net/uploads/images/Thuc-don-va-bang-gia-Buffet-Poseidon.jpg" style="width:1200px; height:450px;" />
<h1>Thực Đơn Hôm Nay</h1>
<div class="nhan1" style="width:1200px; padding-bottom:40px; color:red; font-size:20px;">
<ul>
    <H3>Thức Ăn</H3>
    <li>
        Thuyền Nhỏ Sashimi – Kobune Sashimi</br>




    <li>
        Thuyền Trung Sashim – Chubune Sashimi</br>




    <li>
        Thuyền Lớn Sashimi – Obune Sashimi</br>




    <li>
        Sashimi 5 Loại Sashimi – Goten Sashimi</br>



    <li>
        Cá sống Sushi World đặc biệt – Sushi World Specail Sashimi</br>




    <li>
        Bụng cá ngừ Nhật Sashimi – Honmaguro Otoro Sashimi</br>


</ul>
<ul style="float:right;">
    <li>
        Cá Ngừ Sashimi – Maguro Sashimi</br>




    <li>
        Cá Hồi Sashimi – Sake Sashimi</br>




    <li>
        Bụng cá hồi Sashimi – Sake Toro Sashimi</br>




    <li>
        Cá Cam Sashimi – Kanpachi Sashimi</br>


    <li>
        Cá Mồi Ép Trứng Sashimi – Komochi Nishin Sashimi</br>


    <li>
        Mực Ép Trứng Sashimi – Komochi Yariika Sashimi</br>

</ul>
<ul style="float:left; padding-top:200px;">

    <li>
        Trứng cá hồi Nhật Sashimi – Ikura Sashimi</br>




    <li>
        Trứng cá chuồn Nhật Sashimi – Tobiko Sashimi</br>




    <li>
        Cầu gai biển sống Nhật Sashimi – Uni Sashimi</br>




    <li>
        Cá Saba Ngâm Giấm Sashimi – Sime Saba Sashimi</br>




    <li>
        Cá mú trắng Sashimi – Kue Sashimi</br>




    <li>
        Sò lông đỏ Sashimi – Akakai Sashimi</br>

</ul>
<ul style="float:right;padding-top:400px;">

    <li>
        Sò Điệp Sashimi – Hotate Sashimi</br>




    <li>
        Sò Đỏ Sashimi – Hokkigai Sashimi</br>




    <li>
        Bạch Tuộc Sashimi – Tako Sashimi</br>

    <li>
        Mực Sashimi – Ika Sashimi</br>

    <li>
        Bò Nhật Sống – Wagyu Sashimi</br>


    <li>
        Sashimi Thượng Hạng 1 – Deluxe Sashimi 1</br>



</ul>

<ul style="float:; padding-top:750px;">
    <h3>Nước Giải Khác</h3>
    <li>CoCa Cola</li>
    <li> Rượu</li>
    <li>Bia</li>
    <li>Nước khoáng</li>
    <li>Nước suối</li>
</ul>

</div>