<div class="nhan" style="width:1000px;height:1000px">
    <img alt="" src="https://vi.pic1.sayfamous.com/eating-food/32_8758888141101.jpg" />
    <h1>Ưu đãi dành cho khách hàng ủng hộ chúng tôi</h1>
<h3>Chương trình thành viên của Sushi World gồm có 4 hạng mức :</h3>

<p>Khách hàng mỗi lần thanh toán chỉ cần đọc số điện thoại để được tích lũy điểm</p>

<h3>1. Thẻ Member:</h3>


+ Đăng ký miễn phí thẻ thành viên Member Club tại tất cả nhà hàng thuộc hệ thống Sushi World</br>

+ Thẻ Member Club chỉ có giá trị tích điểm, không áp dụng giảm giá.

<h3>2. Thẻ Silver:</h3>

+ Khi hạng thành viên Member Club tích đủ 10 triệu đồng, sẽ được lên hạng thẻ Silver.</br>

+ Thẻ có giá trị giảm 5% trên tổng hóa đơn.

<h3>3. Thẻ Gold:</h3>

+ Khi hạng thành viên Silver tích đủ 30 triệu đồng, sẽ được lên hạng thẻ Gold.</br>

+ Thẻ có giá trị giảm 10% trên tổng hóa đơn

<h3>4. Thẻ Platinum:</h3>

+ Khi hạng thành viên Gold tích đủ 50 triệu đồng, sẽ được lên hạng thẻ Platinum.</br>

+ Thẻ có giá trị giảm 15% trên tổng hóa đơn

<h3>Trên đây là những ưu đãi dành cho các khách hàng </h3>
<h4>Quý khách hàng có thắc mắc gì xin vui lòng liên hệ :0399999999 hoặc 0388888888 </h4>
</div>