@{
    ViewBag.Title = "Home Page";
}
<div class="nhan " style="width:1200px;">
<div class="jumbotron">
    <iframe width="100%" height="450px" src="https://www.youtube.com/embed/FZ5RuW_V0gg?rel=0&amp;autoplay=1&amp;loop=1" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
</div>




<div class="jp-map text-center jp-map" data-v-bb402aa6="" data-v-7dc39548="">
    <div class="tek-animate animated top-part" data-v-bb402aa6="">
        <p style="text-align: center;">Sushi World với thực đơn đa dạng món ăn và luôn đảm bảo độ tươi ngon, mang đến trải nghiệm trọn vẹn dành cho quý thực khách. Đặc biệt, Sashimi ở Sushi World làm từ nguồn nguyên liệu lấy trực tiếp từ vùng biển Nhật Bản, sau đó vận chuyển về Việt Nam bằng đường hàng không.&nbsp;</p>
        <p style="text-align: center;">Với tinh thần mang tinh hoa ẩm thực Nhật Bản đến mọi bữa tiệc, mỗi món ăn ở Sushi World đều được trang trí và trình bày một cách cầu kỳ, nghiêm túc mang lại sự đẹp mắt và chuyên nghiệp, mang lại sự tinh tế cho bữa tiệc của quý khách!</p>
    </div>





    <div id="col-225214631" class="col medium-11 small-12 large-11">
        <div class="col-inner">


            <div class="row row-small align-equal align-center" id="row-1853647513">

                <div id="col-1798568997" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">


                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1795659201">
                            <div class="img-inner dark">
                                <img width="1200" height="668" src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2.jpg" data-src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2.jpg" class="attachment-original size-original lazy-load-active" alt="" loading="lazy" srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2.jpg 960w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2-768x512.jpg 768w" data-srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2.jpg 960w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi2-768x512.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                            </div>

                            <style>
                                #image_1795659201 {
                                    width: 100%;
                                }
                            </style>
                        </div>

                    </div>
                </div>



                <div id="col-199710690" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">


                        <p style="text-align: justify;"><strong>OTORO SASHIMI 大とろ</strong> – Món Sashimi bụng cá ngừ được coi là tuyệt phẩm trong những món ăn tinh tế nhất xứ hoa anh đào. Nổi tiếng bởi ngoài hương vị vô cùng thơm ngon, số lượng món này lại rất ít.</p>
                        <p style="text-align: justify;">Đến <strong>Sushi World</strong>, đừng bỏ qua món sashimi bụng cá ngừ tuyệt hảo này bạn nhé!</p>
                    </div>
                </div>


            </div>
        </div>
    </div>






    <div class="row align-center cn" id="row-1876195007">

        <div id="col-38131331" class="col medium-11 small-12 large-11">
            <div class="col-inner">


                <div class="row row-small align-equal align-center" id="row-56029968">

                    <div id="col-1451580511" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
                        <div class="col-inner">


                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1607651476">
                                <div class="img-inner dark">
                                    <img width="1200" height="668" src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6.jpg" data-src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6.jpg" class="attachment-original size-original lazy-load-active" alt="" loading="lazy" srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6.jpg 1000w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6-768x512.jpg 768w" data-srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6.jpg 1000w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi6-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
                                </div>

                                <style>
                                    #image_1607651476 {
                                        width: 100%;
                                        height: 100%
                                    }
                                </style>
                            </div>

                        </div>
                    </div>



                    <div id="col-415789745" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
                        <div class="col-inner">


                            <p style="text-align: justify;"><strong>Sanma là một trong những loài cá nổi tiếng nhất đại diện cho mùa thu trong ẩm thực Nhật Bản.</strong></p>
                            <p style="text-align: justify;">Để thưởng thức chất lượng cơ bản của cá tươi tự nhiên, việc chế biến phổ biến nhất của cá là rắc muối lên và nướng, thì chúng ta sẽ giữ được vị nguyên thủy của món cá tươi.</p>
                            <p style="text-align: justify;">Sanma thường được nướng nguyên con với muối và nướng ngay cả khi ruột còn nguyên vẹn, dùng kèm với củ cải mài và nước tương để tăng cường hương vị của cá.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>



    <div class="row align-center cn" id="row-961723033">

        <div id="col-1383240759" class="col medium-11 small-12 large-11">
            <div class="col-inner">





                <div id="col-729664650" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">


                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_661519120">
                            <div class="img-inner dark">
                                <img width="1200" height="668" src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3.jpg" data-src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3.jpg" class="attachment-original size-original lazy-load-active" alt="" loading="lazy" srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3.jpg 1000w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3-768x513.jpg 768w" data-srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3.jpg 1000w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi3-768x513.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
                            </div>

                            <style>
                                #image_661519120 {
                                    width: 100%;
                                }
                            </style>
                        </div>

                    </div>
                    <div class="row row-small align-equal align-center" id="row-839843158">

                        <div id="col-248097296" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
                            <div class="col-inner">


                                <p style="text-align: justify;">Onigiri là một nét ẩm thực không thể thiếu trong đời sống hằng ngày của người dân xứ hoa anh đào. Những nắm cơm hình tam giác hay tròn chắc nịch được yêu thích bởi sự tiện lợi nhỏ gọn, giá thành rẻ và được bày bán phổ biến ở các cửa hàng tiện lợi, siêu thị lớn nhỏ trên khắp nước Nhật.</p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>


    </div>



    <div class="row align-center cn" id="row-382366729">

        <div id="col-636893321" class="col medium-11 small-12 large-11">
            <div class="col-inner">


                <div class="row row-small align-equal align-center" id="row-1140388297">





                    <div id="col-1131151089" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
                        <div class="col-inner">


                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1410561789">
                                <div class="img-inner dark">
                                    <img width="1200" height="667" src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8.jpg" data-src="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8.jpg" class="attachment-original size-original lazy-load-active" alt="sushi8" loading="lazy" srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8.jpg 1000w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8-768x512.jpg 768w" data-srcset="https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8.jpg 1000w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8-300x200.jpg 300w, https://sushiworld.com.vn/wp-content/uploads/2020/10/sushi8-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
                                </div>

                                <style>
                                    #image_1410561789 {
                                        width: 100%;
                                    }
                                </style>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div id="col-1960304072" class="col medium-6 small-12 large-6" data-animate="fadeInUp" data-animated="true">
            <div class="col-inner">


                <p>Cá hồi được nhiều người biết đến với hương vị thơm ngon, mà còn là một trong số những thực phẩm chứa hàm lượng chất dinh dưỡng cao nhất như protein, vitamin D và đặc biệt là axit béo omega 3,…</p>
                <p>Đảm bảo cá luôn tươi ngon, chắc thịt, đạt chuẩn tiêu chí món ăn được yêu thích nhất khi đến với thế giới sushi và sashimi.</p>
            </div>
        </div>


    </div>
</div>